@model Power.Models.PowerModel

<style type="text/css">
    h1 {
        font-size: 172px !important;
        margin-top: 1em;
    }

    h2 {
        font-size: 56px !important;
        margin-top: 5em;
    }

    .low {
        color: green !important;
    }

    .medium {
        color: orange !important;
    }

    .high {
        color: red !important;
    }

</style>

<div class="text-center">
    @{
        var cls = "low";
        if (Model.power >= 2000)
        {
            cls = "medium";
        }
        if (Model.power >= 5000)
        {
            cls = "high";
        }


        <h1 class="display-4 @cls">
            @Model.power W
        </h1>
    }

</div>

<div class="text-center">
    <h2 class="display-4">
        @Model.cost.ToString("# ##0.00") Kroner hittil i dag.
    </h2>
</div>
